* {
    box-sizing: border-box;
}

body {
    background-color: lightseagreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: lightpink;
    text-align: center;
}

#create,
#eraser,
#random {
    margin-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
    background-color: salmon;
}

#create:hover,
#eraser:hover,
#random:hover{
    background-color: rgb(252, 0, 252);
    transition: .2s;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: paleturquoise;
}

button {
    padding: 10px;
}
